<!DOCTYPE HTML>
<head>
<title>Oliver Kingshott</title>
<link rel="stylesheet" href="/reset.css" />
<link rel="stylesheet" href="/main.css" />
</head>

<body>
<div id="main">
	<a href="/">
		<h1><span>Oliver Kingshott</span></h1>
	</a>	

	<p id="tagline"><span>A journal of protips &amp; hacks.</span></p>
	
	<p><img src="/images/glyph.png" /></p>

	<nav>
	<ol>
		<li><a href="/blog/do-your-own-website-day/">Do your own website day</a></li>
	</ol>
	</nav>

	<article>
		<%=yield %>
	</article>

	<p><img src="/images/glyph.png" /></p>

	<footer>
		<p>Follow me on
		<a href="http://twitter.com/oliland/">Twitter</a>
		or send me a <a href="mailto:oliver@kingshott.com">letter</a>.</p>
	</footer>

</div>
</body>
