<!DOCTYPE HTML>
<head>
<title>Oliver Kingshott</title>
<link rel="stylesheet" href="/css/reset.css" />
<link rel="stylesheet" href="/css/main.css" />
<link rel="shortcut icon" href="/favicon.ico" />
<script type="text/javascript" src="/js/ga.js"></script>
</head>

<body>
<div id="main">
	<header>
		<a href="/">
			<h1><span>Oliver Kingshott</span></h1>
			<p id="tagline"
				><span>A journal of protips &amp; hacks.</span>
			</p>
		</a>
	</header>

	<nav>
	<p><img src="/images/glyph.png" /></p>
	<ol>
		<li><a href="/blog/finally-a-place-to-call-home/">Finally, a place to call home</a></li>
	</ol>
	</nav>

	<article>
		<%=yield %>
	</article>

	<p><img src="/images/glyph.png" /></p>

	<footer>
		<p>Follow me on
		<a href="http://twitter.com/oliland/">Twitter</a>
		or send me a <a href="mailto:oliver@kingshott.com">letter</a>.<br />
		I am normally available for Summer work,
		<a href="http://oliver.kingshott.com/downloads/cv.pdf">download my CV.</a></p>
	</footer>

</div>
</body>
