/* Structure */
html, body {
	font-family: Times, Times New Roman, serif;
	color: #333;
	height: 100%; /* needed for min-height */
	font-size: 16px;
	background: url('/images/rhythm.png');
	text-align: center;
	line-height: 25px;
}

#main {
	background: #fdfdfd;
	width: 600px;
	margin: 0 auto;
	padding: 0 45px 0 25px;
	border-left: solid 20px #333;
	min-height: 100%;
}

header h1,
#tagline {
	display: block;
	margin: 0 auto;
}

header h1 {
	width: 536px;
	height: 47px;
	padding: 53px 0 25px 0;
	background: url("/images/oliland.png") 0 53px no-repeat;
}

#tagline {
	width: 314px;
	height: 16px;
	padding: 17px 0 42px 0;
	background: url("/images/tagline.png") 0 17px no-repeat;
}

header h1 span,
#tagline span {
	display: none;
}

article {
	clear: both;
	text-align: left;
	margin: 0 50px;
}

/* Type */

h1, h2, h3 {
	font-style: italic;
}

article h1 {
	display: block;
	text-align: center;
}

h2 {
	font-size: 25px;
	letter-spacing: 0.03em;
	word-spacing: 0.25em;
	margin: 25px 0 24px 0;
	text-transform: lowercase;
	width: 100%;
	border-bottom: solid 1px #ccc;
}

h3 {
	text-align: center;
	font-size: 14px;
	margin-bottom: 25px;
}

article p:first-of-type {
	text-indent: 25px;
}

article h1, p, li, em {
	letter-spacing: 0.02em;
	word-spacing: 0.15em;
	margin-bottom: 25px;
}

sup {
	position: relative;
	height: 0;
	line-height: 1;
	bottom: 0.9ex;
	font-size: 10px;
}

em {
	font-style: italic;
}

pre {
	padding: 12.5px 25px;
	margin: 0 -50px 25px -25px;
	background: #333;
	color: #fff;
}
code {
	font-family: courier-new, courier;
	font-size: 14px;
}

footer {
	font-size: 12px;
	font-style: italic;
	padding-bottom: 25px;
}

article p {
	text-align: justify;
	margin-right: 25px;
}

/* link styles */
a {
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	color: #333334;
	text-decoration: none;
	border-bottom: dotted 1px #ccc;
}
a:hover {
	color: #336699;
}
/* lists */

nav > ol > li {
	font-style: italic;	
}

article ul li {
	margin-left: 50px;
	list-style: square;
}
article ol li {
	margin-left: 50px;
	list-style: lower-roman;
}

/* images */
article p img {
	margin: 0;
	padding: 0;
	line-height: 0;
	font-size: 0;
	vertical-align: top;
}
article p:first-of-type > img {
	margin-left: -25px;
}
