html {
	font-family: Times, Times New Roman, serif;
	color: #333;
	height: 100%; /* needed for min-height */
	font-size: 16px;
	background: url('/images/rhythm.png');
}
#grid { 
	position: absolute;
	height: 1000%;
	width: 100%; /* f4f4e9 */
}
body {
	text-align: center;
	height: 100%;
}
#main {
	background: #fdfdfd;
	width: 600px;
	margin: 0 auto;
	padding: 0 45px 0 25px;
	border-left: solid 20px #333;
	min-height: 100%;
}
h1 {
	display: block;
	width: 536px;
	height: 47px;
	padding: 53px 0 25px 0;
	margin: 0 auto;
	background: url("/images/oliland.png") 0 53px no-repeat;
}

h1 span,
#tagline span {
	display: none;
}

#tagline {
	display: block;
	width: 314px;
	height: 16px;
	padding: 17px 0 42px 0;
	margin: 0 auto;
	background: url("/images/tagline.png") 0 17px no-repeat;
}
article {
	clear: both;
	text-align: left;
	margin: 0 50px;
}
article h2 {
	font-family: Times, serif;
	color: #444;
	font-size: 25px;
	letter-spacing: 0.03em;
	word-spacing: 0.25em;
	margin: 25px 0 24px 0;
	text-transform: lowercase;
	width: 100%;
	font-style: italic;
	border-bottom: solid 1px #ccc;
}
article p:first-of-type {
	text-indent: 25px;
}
p, li {
	line-height: 25px;
	letter-spacing: 0.02em;
	word-spacing: 0.15em;
	padding-bottom: 25px;
}
footer {
	font-size: 12px;
	font-style: italic;
}
article p {
	text-align: justify;
	margin-right: 25px;
}
/* link styles */
a {
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	color: #333334;
	text-decoration: none;
	border-bottom: dotted 1px #ccc;
}
a:hover {
	color: #336699;
}
/* lists */
nav {

}
nav > ol {
}
nav > ol > li {
	font-style: italic;	
}
